---
layout: default
---
  
     <head> 
           <style> 
                                             
              #frame { 
                  width: 1300px; 
                  height: 700px;   
                  margin-left: -250px; 
                     } 
           </style> 
                              
           <h4 style="color:#006400; font-size:24px; margin-left: 150px;">
            [Block-level] Hot Spot Analysis with 1 mile distance band</h4>
      </head> 
        
      <body style="background-color:#ffffff"> 
              <iframe  height ="100%" width="100%" 
               style="border:0px solid black;" 
             src="/assets/b_target_v4.html"  id="frame" ></iframe>
      </body> 
        
 